<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :short_description %><br>
    <%= form.text_field :short_description %>
    <% article.errors.full_messages_for(:short_description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :category %><br>
    <%= form.text_field :category %>
    <% article.errors.full_messages_for(:category).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :region %><br>
    <%= form.text_field :region %>
    <% article.errors.full_messages_for(:region).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :status %><br>
    <%= form.select :status, %w[inactive active published archived], selected: 'inactive' %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>