<h1><%= @user.full_name %></h1>
<h2><%= @user.nickname %></h2>
<%= image_tag @user.avatar.url(:large) %>
<p>Role: <%= @user.role %></p>
<p>Address: <%= @user.address %></p>
<p>Date of Birth: <%= @user.date_of_birth.strftime('%d %B, %Y') %></p>
<% if policy(@user).update? %>
  <%= link_to "Edit", edit_user_path(@user), class: 'btn btn-outline-primary' %>
<% end %>