<!DOCTYPE html>
<html>
  <head>
    <title>NewsSiteProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="<%= root_path %>">News</a>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="<%= root_path %>">Home <span class="sr-only">(текущая)</span></a>
          </li>
        </ul>
        <%= link_to "New Article", new_article_path, class: 'btn btn-outline-primary' %>
      </nav>
    </div>

    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
